body {

    background-color: #ECECEC;

}

.header {

    /* Colors/Fonts */
    background-color: #48CBF3;
    color: #47525E;
    font-family: Lato, sans-serif;
    font-weight: bold;

    /* Sizing */
    border-radius: 43px;
    width: 75%;
    font-size: 64px;

    /* Alignment */
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 2%;


}

.subheader{

    /* Colors/Fonts */
    background-color: #C9FDFF;
    color: #47525E;
    font-family: Lato, sans-serif;

    /* Sizing */
    border-radius: 100px;
    width: 50%;
    height: 44px;
    font-size: 30px;

    /* Alignment */
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25%;
}

.individualButton {

    /* Colors/Fonts */
    background-color: #00A6FF;
    color: white;
    font-family: Lato, sans-serif;

    /* Sizing */
    border-radius: 43px;
    width: 537px;
    height: 287px;
    font-size: 30px;

    /* Alignment */
    position: absolute;
    text-align: center;
    left: 5%;
    top: 40%;


}

.groupButton {

    /* Colors/Fonts */
    background-color: #00A6FF;
    color: white;
    font-family: Lato, sans-serif;

    /* Sizing */
    border-radius: 43px;
    width: 537px;
    height: 287px;
    font-size: 30px;

    /* Alignment */
    position: absolute;
    text-align: center;
    right: 5%;
    top: 40%;
}

.interactImage {

    /* Sizing */
    width: 30%;

    /* Alignment */
    position: absolute;
    right: 0%;
    bottom: 0%;
}

/* ____________________________________________________________________________________________________________________________ */

/* Responsive Formatting */

/*  big screens format */
@media only screen and (max-width: 1920px) {

            .header {
            /* Sizing */

            font-size: 70px;
            }

           .subheader {

            /* Sizing */
            width: 60%;
            height: 100%;
            font-size: 60px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 12%;

            }

            .individualButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 45px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-left: 3%;
            margin-top: 5%;

        }

            .groupButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 45px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-right: 3%;
            margin-top: 5%;

        }

            .interactImage {

            /* Sizing */
            width: 30%;
            height: 10%;

            /* Alignment */
            position: absolute;
            margin-bottom: 3%;
            margin-right: 1%;

        }

}

/*  large screens format */
@media only screen and (max-width: 1441px) {

            .header {
            /* Sizing */

            font-size: 70px;
            }

           .subheader {

            /* Sizing */
            width: 60%;
            height: 100%;
            font-size: 50px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 15%;

            }

            .individualButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 45px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-left: 3%;
            margin-top: 5%;

        }

            .groupButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 45px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-right: 3%;
            margin-top: 5%;

        }

            .interactImage {

            /* Sizing */
            width: 30%;
            height: 10%;

            /* Alignment */
            position: absolute;
            margin-bottom: 3%;
            margin-right: 1%;

        }

}

/*  big landscape tablets, laptops, and desktops format */
@media only screen and (max-width: 1281px) {

            .header {
            /* Sizing */

            font-size: 70px;
            }

           .subheader {

            /* Sizing */
            width: 60%;
            height: 100%;
            font-size: 40px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 16%;

            }

            .individualButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 45px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-left: 3%;
            margin-top: 5%;

        }

            .groupButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 45px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-right: 3%;
            margin-top: 5%;

        }

            .interactImage {

            /* Sizing */
            width: 30%;
            height: 10%;

            /* Alignment */
            position: absolute;
            margin-bottom: 3%;
            margin-right: 1%;

        }

}

/* Tablet, iPads, Res Laptops and Desktops Format */
@media only screen and (max-width: 1025px) {

           .subheader {

            /* Sizing */
            width: 75%;
            height: 100%;
            font-size: 30px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 30%;

            }

            .individualButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 45px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-left: 3%;

        }

            .groupButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 45px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-right: 3%;

        }

            .interactImage {

            /* Sizing */
            width: 70%;
            height: 10%;

            /* Alignment */
            position: absolute;
            margin-bottom: 3%;
            margin-right: 1%;

        }

}

/* tablet, landscape iPad, lo-res laptops ands desktops Format */
@media only screen and (max-width: 800px) {

           .subheader {

            /* Sizing */
            width: 75%;
            height: 100%;
            font-size: 30px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 37%;

            }

            .individualButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 20px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-left: 3%;

        }

            .groupButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 20px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-right: 3%;

        }

            .interactImage {

            /* Sizing */
            width: 70%;
            height: 10%;

            /* Alignment */
            position: absolute;
            margin-bottom: 3%;
            margin-right: 1%;

        }

}

/* Other iPads */
@media only screen and (max-width: 768px) {

    .header {
        /* Sizing */
        width: 90%;
        font-size: 60px;
    }
           .subheader {

            /* Sizing */
            width: 75%;
            height: 100%;
            font-size: 40px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 35%;

            }

            .individualButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 30px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-left: 3%;

        }

            .groupButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 30px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-right: 3%;

        }

            .interactImage {

            /* Sizing */
            width: 70%;
            height: 10%;

            /* Alignment */
            position: absolute;
            margin-bottom: 3%;
            margin-right: 1%;

        }

}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) Format */
@media only screen and (max-width: 600px) {

            .header {
            /* Sizing */
            width: 95%;
            font-size: 60px;
            }

           .subheader {

            /* Sizing */
            width: 75%;
            height: 100%;
            font-size: 30px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 35%;

            }

            .individualButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 20px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-left: 3%;

        }

            .groupButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 20px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-right: 3%;

        }

            .interactImage {

            /* Sizing */
            width: 70%;
            height: 10%;

            /* Alignment */
            position: absolute;
            margin-bottom: 3%;
            margin-right: 1%;

        }

}


/* smartphones, Android phones, landscape iPhone Format */
@media only screen and (max-width: 480px) {
        .header {

            /* Sizing */
            width: 90%;
            font-size: 34px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 5%;

        }

        .subheader {

            /* Sizing */
            width: 75%;
            height: 5%;
            font-size: 20px;

            /* Alignment */
            position: relative;
            text-align: center;
            margin-top: 3%;

        }

        .individualButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 20px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-left: 3%;

        }

            .groupButton {

            /* Sizing */
            border-radius: 43px;
            width: 40%;
            height: 25%;
            font-size: 20px;

            /* Alignment */
            position: absolute;
            text-align: center;
            margin-right: 3%;

        }

        .interactImage {

            /* Sizing */
            width: 70%;
            height: 10%;

            /* Alignment */
            position: absolute;
            margin-bottom: 3%;
            margin-right: 1%;

        }

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) Format */

@media only screen and (max-width: 320px) {
        .header {

            /* Sizing */
            font-size: 30px;
            width: 95%;

        }

        .subheader {

            /* Sizing */
            font-size: 15px;
        }



}


}
